[submodule "app-repo"]
	path = app-repo
	url = https://github.com/Ezramain1/app-repo.git
[submodule "gitops-repo"]
	path = gitops-repo
	url = https://github.com/Ezramain1/gitops-repo.git
[submodule "infra-repo"]
	path = infra-repo
	url = https://github.com/Ezramain1/infra-repo.git
